
    <ul class="nav flex-column sidebar-dark">
      <li class="nav-item">
        <a class="nav-link m-click" routerLink="/user/dashboard" routerLinkActive="active" routerLinkActiveOptions="{ exact: true }">
          <i class="fa fa-home"></i>
          Dashboard 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link m-click" routerLink="/user/interface" routerLinkActive="active" routerLinkActiveOptions="{ exact: true }">
          <i class="fa fa-file"></i>
          Interface
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fa fa-cog"></i>
          <span>Components</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="py-2 collapse-inner">
            <a class="nav-link m-click" href="#">Buttons</a>
            <a class="nav-link m-click" href="#">Cards</a>
          </div>
        </div>
      </li>
      
    </ul>